<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="User_Calendar.mdf" connectionString="Data Source=(LocalDB)\\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\\Data\\User_Calendar.mdf;Integrated Security = True"/>
  </connectionStrings>
  <system.net>
    <connectionManagement>
      <add address="192.168.0.42" maxconnection="4"/>
      <add address="192.168.0.3" maxconnection="4"/>
      <add address="192.168.0.4" maxconnection="4"/>
      <add address="192.168.0.10" maxconnection="4"/>
    </connectionManagement>
  </system.net>
</configuration>